<a href="https://colab.research.google.com/github/TatyanaPythonista/clinical-trials/blob/main/parexel_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Definitions**

An **odds ratio (OR)** is a measure of association between a certain property A and a second property B in a population.

**Confidence interval** is a range of values so defined that there is a specified probability that the value of a parameter lies within it.

**P-value** is the probability that a particular statistical measure, such as the mean or standard deviation, of an assumed probability distribution will be greater than or equal to (or less than or equal to in some instances) observed results.

In [ ]:
import warnings
warnings.filterwarnings('ignore')

Importing the required libraries

In [ ]:
from google.colab import files

import pandas as pd
import numpy as np
import scipy

import statsmodels.api as sm

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# **Function to count statistics**

In [ ]:
def proportions_diff_confint_ind(sample1, sample2, n1, n2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sample1) / n1
    p2 = float(sample2) / n2
    
    fuctor = np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)

    left_boundary = (p1 - p2) - z * fuctor
    right_boundary = (p1 - p2) + z * fuctor
    
    return (left_boundary, right_boundary)

In [ ]:
def proportions_diff_z_stat_ind(sample1, sample2, n1, n2):
    
    p1 = float(sample1) / n1
    p2 = float(sample2) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [ ]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

# Data

In [ ]:
files.upload()

Saving resp1.csv to resp1.csv

{'resp1.csv': b'gender@SITEID@SUBJID@TRTPN@responseCategory\nMALE@0001@027@2@SD\nFEMALE@0001@039@1@PD\nMALE@0001@126@2@PD\nMALE@0001@154@1@SD\nFEMALE@0001@161@1@PD\nFEMALE@0001@198@1@SD\nMALE@0001@221@1@SD\nFEMALE@0001@280@1@SD\nMALE@0001@540@1@SD\nMALE@0001@557@1@SD\nFEMALE@0001@599@2@SD\nMALE@0001@636@2@SD\nFEMALE@0010@152@1@SD\nFEMALE@0010@267@2@PD\nFEMALE@0010@466@1@PD\nMALE@0010@568@2@NE\nFEMALE@0010@572@1@PD\nMALE@0100@053@2@SD\nMALE@0100@058@1@PD\nFEMALE@0100@114@2@SD\nMALE@0100@457@1@SD\nMALE@0102@074@2@NE\nMALE@0102@090@1@PD\nMALE@0102@230@1@SD\nMALE@0102@255@2@SD\nFEMALE@0102@272@2@PD\nMALE@0102@365@2@SD\nMALE@0102@366@2@PR\nFEMALE@0102@439@1@PD\nFEMALE@0102@471@2@SD\nMALE@0102@474@1@PD\nMALE@0102@496@2@SD\nFEMALE@0102@502@1@PR\nFEMALE@0102@729@2@PR\nMALE@0102@764@2@SD\nMALE@0103@035@2@SD\nMALE@0103@092@2@PR\nFEMALE@0103@265@2@PR\nFEMALE@0103@344@1@PD\nFEMALE@0103@573@1@PD\nMALE@0103@659@2@PD\nFEMALE@0103@725@1@PD\nMALE@0103@745@2@SD\nFEMALE@0104@142@1@PD\nFEMALE@0104@391@2@SD\nFEMALE@0104@418@2@NE\nMALE@0104@613@1@SD\nFEMALE@0104@752@1@PR\nMALE@0107@670@2@SD\nFEMALE@0107@733@1@PD\nMALE@0107@750@2@PD\nFEMALE@0107@770@2@PR\nMALE@0108@284@1@PD\nFEMALE@0108@285@1@NE\nFEMALE@0108@357@1@NE\nFEMALE@0108@414@2@PD\nMALE@0108@431@2@PR\nFEMALE@0108@550@1@PR\nFEMALE@0108@551@2@SD\nMALE@0108@584@1@PR\nMALE@0108@590@2@NE\nFEMALE@0108@591@1@PD\nMALE@0108@592@1@PD\nMALE@0108@655@1@SD\nMALE@0110@010@1@SD\nMALE@0110@062@1@NE\nMALE@0112@115@2@PD\nMALE@0112@128@1@PR\nFEMALE@0112@153@1@NE\nMALE@0112@237@2@PD\nMALE@0112@296@2@NE\nMALE@0112@617@2@SD\nMALE@0112@657@1@SD\nMALE@0112@665@1@PD\nFEMALE@0112@711@1@PD\nMALE@0112@737@1@NE\nMALE@0112@761@1@SD\nMALE@0112@768@1@PD\nMALE@0113@398@1@SD\nMALE@0113@489@2@PD\nMALE@0113@501@2@NE\nFEMALE@0113@532@1@SD\nMALE@0113@537@1@PD\nFEMALE@0113@563@2@PD\nFEMALE@0113@593@2@SD\nFEMALE@0113@642@1@NE\nMALE@0113@648@2@PD\nFEMALE@0113@664@2@SD\nFEMALE@0114@082@2@SD\nMALE@0114@117@1@PD\nMALE@0114@155@2@SD\nMALE@0114@302@2@PD\nMALE@0114@313@2@PD\nMALE@0114@355@1@PD\nMALE@0114@367@2@SD\nMALE@0114@556@2@SD\nMALE@0114@571@2@PD\nMALE@0114@660@2@SD\nFEMALE@0115@277@1@PR\nMALE@0115@353@2@SD\nMALE@0115@401@2@SD\nFEMALE@0115@484@2@PD\nMALE@0115@517@2@SD\nMALE@0115@785@1@PR\nMALE@0116@554@1@NE\nMALE@0117@172@1@NE\nMALE@0117@257@2@PD\nMALE@0117@319@2@SD\nFEMALE@0117@406@1@PD\nFEMALE@0117@447@1@NE\nMALE@0117@640@2@PD\nFEMALE@0118@168@2@PD\nFEMALE@0118@185@1@PD\nMALE@0119@301@1@PR\nMALE@0119@680@1@PR\nFEMALE@0012@085@2@PR\nMALE@0012@191@2@SD\nFEMALE@0012@213@2@PR\nMALE@0120@276@2@PD\nFEMALE@0120@574@1@SD\nMALE@0120@579@1@SD\nMALE@0120@616@2@SD\nMALE@0121@605@2@SD\nMALE@0121@762@1@PD\nMALE@0122@139@1@PR\nFEMALE@0122@156@2@SD\nMALE@0122@186@1@PD\nMALE@0122@359@2@NE\nMALE@0122@381@1@PR\nMALE@0123@738@2@SD\nFEMALE@0123@756@1@PD\nMALE@0123@788@2@SD\nMALE@0124@527@1@PD\nMALE@0124@674@1@NE\nMALE@0124@783@1@PD\nMALE@0125@140@2@SD\nMALE@0132@465@1@PD\nMALE@0132@493@2@PR\nFEMALE@0133@421@2@NE\nMALE@0133@425@1@PD\nFEMALE@0133@451@2@PD\nFEMALE@0133@548@2@NE\nFEMALE@0133@552@1@SD\nMALE@0133@559@1@PR\nFEMALE@0133@654@1@PR\nMALE@0133@749@2@PD\nFEMALE@0134@220@2@NE\nMALE@0134@239@1@PD\nFEMALE@0134@303@2@PD\nMALE@0134@438@1@SD\nMALE@0134@450@1@PD\nFEMALE@0134@500@2@PR\nFEMALE@0134@533@1@SD\nMALE@0134@662@2@PR\nFEMALE@0135@282@2@SD\nFEMALE@0135@411@2@SD\nFEMALE@0135@595@2@PD\nFEMALE@0136@318@1@SD\nMALE@0138@794@1@PR\nFEMALE@0014@015@2@PR\nFEMALE@0014@041@1@PD\nMALE@0014@048@1@PR\nFEMALE@0014@167@2@SD\nFEMALE@0014@651@1@PD\nFEMALE@0141@518@2@NE\nMALE@0141@524@2@PR\nMALE@0141@526@2@SD\nFEMALE@0141@598@1@PD\nFEMALE@0141@759@1@PD\nMALE@0015@722@2@NE\nFEMALE@0016@134@2@PD\nFEMALE@0016@334@1@PD\nFEMALE@0017@373@1@CR\nFEMALE@0017@456@1@PR\nFEMALE@0017@486@2@NE\nMALE@0017@535@2@NE\nMALE@0018@133@1@SD\nMALE@0018@258@2@PD\nFEMALE@0018@354@1@PD\nFEMALE@0018@652@1@PD\nMALE@0018@695@1@SD\nFEMALE@0019@050@2@PD\nMALE@0019@078@2@SD\nFEMALE@0019@151@1@PD\nFEMALE@0019@251@2@PD\nMALE@0002@021@1@PD\nMALE@0002@025@2@NE\nMALE@0002@038@1@PR\nMALE@0002@071@2@PD\nMALE@0002@178@2@SD\nFEMALE@0002@269@1@SD\nFEMALE@0002@300@1@PD\nFEMALE@0002@362@1@SD\nMALE@0002@376@2@SD\nMALE@0002@377@2@PD\nMALE@0002@461@1@SD\nMALE@0002@497@1@PD\nMALE@0002@668@1@CR\nFEMALE@0020@029@2@NE\nMALE@0020@036@1@PR\nMALE@0020@052@2@NE\nMALE@0020@079@1@SD\nMALE@0020@147@2@SD\nFEMALE@0020@150@1@PD\nMALE@0020@200@2@NE\nMALE@0020@240@1@PD\nFEMALE@0021@055@2@SD\nFEMALE@0021@077@2@PD\nMALE@0021@129@1@PD\nFEMALE@0021@180@2@PD\nFEMALE@0021@244@1@PD\nFEMALE@0021@467@2@NE\nMALE@0021@608@1@PD\nMALE@0021@623@2@SD\nMALE@0021@647@1@PD\nMALE@0021@730@1@NE\nMALE@0021@739@1@SD\nMALE@0023@009@2@NE\nFEMALE@0023@018@1@PD\nFEMALE@0023@020@2@CR\nFEMALE@0023@057@2@SD\nFEMALE@0023@135@1@PD\nMALE@0023@136@2@PD\nFEMALE@0023@165@1@PD\nFEMALE@0023@197@2@PD\nMALE@0023@241@2@PD\nMALE@0023@273@1@SD\nFEMALE@0023@327@1@PD\nFEMALE@0023@384@2@PR\nMALE@0023@494@2@PD\nMALE@0023@558@1@PR\nFEMALE@0023@596@1@PR\nMALE@0023@753@1@PD\nMALE@0024@312@1@SD\nMALE@0024@506@2@NE\nFEMALE@0024@549@1@PD\nFEMALE@0024@744@2@NE\nMALE@0025@212@2@SD\nFEMALE@0025@214@1@PR\nFEMALE@0025@618@1@PD\nMALE@0025@728@2@PD\nFEMALE@0026@080@2@SD\nFEMALE@0026@088@1@SD\nFEMALE@0026@109@1@PD\nFEMALE@0026@146@1@PR\nMALE@0026@188@2@PR\nFEMALE@0026@346@1@NE\nMALE@0026@477@1@PR\nFEMALE@0026@632@2@SD\nMALE@0027@001@2@NE\nMALE@0027@006@1@PD\nMALE@0027@007@1@PD\nMALE@0027@008@1@PD\nMALE@0027@019@1@NE\nFEMALE@0027@043@1@SD\nMALE@0027@094@2@NE\nFEMALE@0027@137@1@PR\nMALE@0027@193@2@PD\nFEMALE@0027@268@1@SD\nFEMALE@0027@402@2@PD\nMALE@0027@412@2@SD\nMALE@0027@553@1@PR\nMALE@0027@611@2@PR\nFEMALE@0028@086@2@SD\nFEMALE@0028@087@1@SD\nFEMALE@0028@125@1@SD\nFEMALE@0028@182@2@SD\nMALE@0028@184@1@PR\nFEMALE@0028@278@2@NE\nFEMALE@0028@369@2@PD\nMALE@0028@719@2@SD\nMALE@0003@045@1@SD\nMALE@0003@124@2@PD\nMALE@0030@028@2@PD\nMALE@0030@040@2@PD\nFEMALE@0030@065@2@PD\nFEMALE@0030@069@2@NE\nFEMALE@0030@171@2@SD\nMALE@0030@181@2@PD\nFEMALE@0030@225@2@PD\nMALE@0030@228@1@SD\nFEMALE@0030@234@2@PD\nMALE@0030@530@1@PD\nFEMALE@0030@546@1@PR\nMALE@0030@710@1@SD\nFEMALE@0030@773@2@NE\nMALE@0030@797@1@PD\nMALE@0031@432@1@PD\nFEMALE@0031@678@1@PR\nMALE@0031@681@2@NE\nMALE@0032@677@1@PD\nFEMALE@0032@691@1@SD\nFEMALE@0032@702@1@PD\nFEMALE@0032@713@2@PD\nMALE@0032@726@1@PD\nFEMALE@0032@772@2@SD\nFEMALE@0033@119@1@PD\nMALE@0033@120@1@PD\nMALE@0033@127@1@PD\nFEMALE@0033@363@1@SD\nMALE@0033@409@1@SD\nMALE@0033@483@1@SD\nMALE@0033@528@2@SD\nMALE@0033@597@1@SD\nFEMALE@0033@612@1@SD\nMALE@0033@755@1@PD\nMALE@0034@472@2@NE\nFEMALE@0034@499@1@CR\nFEMALE@0034@525@2@PD\nFEMALE@0034@529@1@PD\nFEMALE@0034@541@1@PR\nMALE@0034@787@1@PR\nMALE@0035@014@2@SD\nFEMALE@0035@326@2@PD\nMALE@0035@356@2@SD\nMALE@0035@740@2@SD\nFEMALE@0036@256@1@PR\nMALE@0036@304@1@PD\nFEMALE@0036@718@2@SD\nMALE@0037@462@2@SD\nMALE@0038@089@1@NE\nFEMALE@0038@166@1@NE\nFEMALE@0038@324@1@NE\nMALE@0038@364@1@NE\nMALE@0038@415@1@PD\nFEMALE@0039@382@2@SD\nMALE@0039@566@1@PD\nFEMALE@0039@631@2@PD\nMALE@0039@672@2@PD\nMALE@0004@013@2@SD\nFEMALE@0004@023@1@PD\nMALE@0004@044@1@PD\nMALE@0004@049@1@PD\nFEMALE@0004@070@1@PD\nFEMALE@0004@130@2@PR\nFEMALE@0004@216@2@PD\nFEMALE@0004@217@1@NE\nFEMALE@0004@226@1@SD\nMALE@0004@243@2@PR\nMALE@0004@368@1@PD\nFEMALE@0004@380@1@NE\nMALE@0004@396@2@PD\nFEMALE@0040@433@1@PD\nFEMALE@0040@436@2@PR\nFEMALE@0041@173@1@PR\nMALE@0041@333@1@PR\nFEMALE@0041@498@2@PR\nMALE@0042@054@1@SD\nFEMALE@0042@211@2@PD\nMALE@0042@515@2@PD\nFEMALE@0042@671@1@PD\nMALE@0042@721@2@PD\nMALE@0042@741@2@PD\nFEMALE@0043@423@2@PR\nMALE@0045@306@1@SD\nMALE@0045@653@1@PD\nMALE@0045@724@2@PR\nFEMALE@0046@279@2@SD\nFEMALE@0046@429@1@PD\nFEMALE@0047@174@1@PD\nMALE@0047@387@2@NE\nMALE@0047@454@1@PR\nMALE@0047@455@2@NE\nFEMALE@0047@509@1@PR\nMALE@0047@542@2@PR\nMALE@0047@567@2@PD\nMALE@0047@673@2@PD\nMALE@0047@731@2@PD\nFEMALE@0048@305@1@NE\nMALE@0048@323@2@PR\nFEMALE@0048@378@2@SD\nMALE@0048@561@1@PD\nFEMALE@0048@703@2@SD\nFEMALE@0005@195@1@PD\nMALE@0005@254@1@PD\nMALE@0005@260@1@PR\nFEMALE@0005@338@2@SD\nMALE@0005@600@2@SD\nMALE@0005@615@2@SD\nMALE@0005@637@2@NE\nMALE@0005@763@1@SD\nMALE@0005@766@2@PR\nFEMALE@0050@743@1@PD\nMALE@0051@622@1@PD\nMALE@0051@643@2@SD\nFEMALE@0052@519@2@SD\nFEMALE@0052@560@1@SD\nFEMALE@0052@747@1@PD\nFEMALE@0052@754@2@SD\nFEMALE@0053@578@1@PD\nFEMALE@0053@661@2@SD\nMALE@0053@715@1@SD\nMALE@0054@510@2@SD\nFEMALE@0054@516@1@NE\nMALE@0054@601@2@SD\nFEMALE@0054@633@1@SD\nMALE@0054@707@1@PD\nMALE@0055@403@1@PR\nMALE@0055@476@2@SD\nMALE@0055@491@2@SD\nMALE@0055@576@2@PD\nFEMALE@0055@603@2@SD\nMALE@0055@639@1@SD\nMALE@0055@644@1@SD\nMALE@0055@771@1@SD\nMALE@0055@782@2@SD\nFEMALE@0056@708@1@PD\nFEMALE@0006@095@1@PD\nMALE@0006@096@2@NE\nFEMALE@0006@097@2@NE\nFEMALE@0006@100@1@SD\nMALE@0006@170@1@PD\nMALE@0006@189@1@PR\nMALE@0006@192@1@PD\nMALE@0006@252@2@SD\nFEMALE@0006@259@2@PD\nFEMALE@0006@297@1@PD\nFEMALE@0006@345@2@SD\nFEMALE@0006@349@1@SD\nMALE@0006@379@2@PD\nFEMALE@0006@397@2@PD\nFEMALE@0006@482@2@PD\nFEMALE@0006@520@2@SD\nFEMALE@0006@522@2@NE\nFEMALE@0006@555@1@PR\nFEMALE@0006@562@2@SD\nMALE@0006@577@2@SD\nMALE@0006@621@2@SD\nMALE@0006@628@2@SD\nFEMALE@0006@684@2@SD\nMALE@0061@480@1@SD\nMALE@0062@238@2@PD\nMALE@0063@253@2@SD\nMALE@0063@350@1@SD\nFEMALE@0068@223@1@SD\nMALE@0068@638@2@NE\nMALE@0068@687@2@NE\nMALE@0068@697@2@SD\nMALE@0068@716@2@PR\nFEMALE@0068@778@1@PD\nMALE@0068@781@1@PR\nFEMALE@0007@016@1@SD\nFEMALE@0007@031@2@PD\nFEMALE@0007@032@1@PD\nFEMALE@0007@061@1@PR\nFEMALE@0007@064@2@SD\nMALE@0007@076@2@NE\nFEMALE@0007@093@1@PR\nMALE@0007@112@1@PR\nFEMALE@0007@141@2@SD\nMALE@0007@464@2@NE\nFEMALE@0007@543@1@PD\nMALE@0007@748@2@SD\nMALE@0070@157@2@SD\nFEMALE@0070@169@1@SD\nMALE@0070@206@1@PR\nMALE@0070@271@1@NE\nFEMALE@0070@360@2@PD\nMALE@0070@424@2@SD\nFEMALE@0070@469@1@PD\nMALE@0070@547@1@PR\nMALE@0070@693@1@PR\nMALE@0072@292@1@PD\nFEMALE@0072@389@2@SD\nMALE@0073@417@1@SD\nFEMALE@0073@434@2@PD\nMALE@0073@512@2@SD\nFEMALE@0073@539@1@SD\nMALE@0073@580@2@PR\nMALE@0073@630@1@PD\nMALE@0073@751@2@SD\nFEMALE@0074@793@2@PD\nMALE@0077@316@2@SD\nFEMALE@0077@440@2@PR\nFEMALE@0077@468@1@NE\nFEMALE@0077@531@1@PD\nMALE@0077@646@1@NE\nMALE@0077@669@1@NE\nMALE@0077@779@1@SD\nMALE@0077@795@2@NE\nFEMALE@0078@203@2@SD\nMALE@0078@229@1@SD\nFEMALE@0078@287@1@PD\nMALE@0078@295@2@SD\nMALE@0078@314@2@PD\nFEMALE@0078@328@2@PR\nMALE@0078@479@2@PR\nFEMALE@0078@694@2@PD\nFEMALE@0078@735@2@PR\nFEMALE@0078@776@2@SD\nFEMALE@0008@004@2@SD\nMALE@0008@047@1@CR\nMALE@0008@098@2@SD\nMALE@0008@245@2@PD\nMALE@0082@024@1@PD\nMALE@0082@026@2@NE\nMALE@0082@116@1@SD\nFEMALE@0082@249@2@SD\nFEMALE@0082@263@1@PD\nMALE@0082@281@2@PD\nMALE@0083@339@2@NE\nFEMALE@0083@340@2@SD\nMALE@0083@437@1@PD\nFEMALE@0083@565@1@PD\nFEMALE@0083@626@1@SD\nFEMALE@0083@686@1@PD\nFEMALE@0084@385@1@PD\nMALE@0084@475@2@PD\nMALE@0085@108@2@PD\nFEMALE@0085@149@2@NE\nMALE@0085@224@2@SD\nMALE@0085@311@2@SD\nMALE@0085@395@1@PD\nFEMALE@0085@445@1@NE\nMALE@0085@663@1@NE\nMALE@0085@698@1@PD\nMALE@0086@104@2@SD\nMALE@0086@122@2@PD\nMALE@0087@067@1@PR\nFEMALE@0087@073@1@PD\nMALE@0087@091@1@NE\nFEMALE@0087@320@1@PD\nFEMALE@0087@658@2@NE\nFEMALE@0088@325@1@PD\nMALE@0088@386@2@SD\nFEMALE@0088@388@1@SD\nMALE@0088@443@1@PD\nMALE@0088@620@1@NE\nFEMALE@0088@757@2@PD\nFEMALE@0088@760@1@PR\nMALE@0089@307@2@SD\nMALE@0089@444@1@NE\nMALE@0089@495@1@PD\nFEMALE@0089@666@1@PD\nFEMALE@0009@233@1@PD\nFEMALE@0009@352@1@NE\nFEMALE@0009@407@2@SD\nFEMALE@0009@505@2@SD\nMALE@0009@523@2@NE\nMALE@0009@570@2@SD\nFEMALE@0009@614@2@NE\nFEMALE@0009@746@1@SD\nFEMALE@0090@235@1@NE\nMALE@0090@236@2@SD\nFEMALE@0090@299@2@SD\nFEMALE@0090@348@1@SD\nMALE@0090@394@1@PD\nMALE@0090@736@2@SD\nMALE@0090@780@1@PD\nMALE@0091@081@2@PD\nFEMALE@0091@111@1@PD\nMALE@0091@177@2@PD\nFEMALE@0091@222@1@PD\nMALE@0091@310@1@PR\nFEMALE@0091@358@2@NE\nFEMALE@0091@374@1@SD\nFEMALE@0091@587@1@PR\nMALE@0091@602@1@PD\nFEMALE@0091@624@2@PD\nMALE@0091@692@2@PR\nFEMALE@0091@734@2@PD\nFEMALE@0092@022@2@SD\nFEMALE@0092@066@2@PD\nFEMALE@0092@194@2@PD\nFEMALE@0093@202@1@SD\nMALE@0093@487@1@PR\nMALE@0093@705@2@PD\nMALE@0094@575@1@PD\nMALE@0094@610@2@PR\nFEMALE@0095@481@1@PR\nFEMALE@0095@503@2@SD\nMALE@0095@504@2@SD\nMALE@0096@459@2@PR\nMALE@0097@030@2@SD\nFEMALE@0097@163@1@PD\nFEMALE@0097@513@1@SD\nMALE@0097@545@1@PD\nFEMALE@0097@758@2@SD\nFEMALE@0098@293@2@SD\nMALE@0099@176@2@SD\nMALE@0099@564@2@PR\nMALE@0099@723@1@NE\n'}

In [ ]:
data = pd.read_csv('resp1.csv', sep='@')

In [ ]:
data.head(10)

   gender  SITEID  SUBJID  TRTPN responseCategory
0    MALE       1      27      2               SD
1  FEMALE       1      39      1               PD
2    MALE       1     126      2               PD
3    MALE       1     154      1               SD
4  FEMALE       1     161      1               PD
5  FEMALE       1     198      1               SD
6    MALE       1     221      1               SD
7  FEMALE       1     280      1               SD
8    MALE       1     540      1               SD
9    MALE       1     557      1               SD

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            582 non-null    object
 1   SITEID            582 non-null    int64
 2   SUBJID            582 non-null    int64
 3   TRTPN             582 non-null    int64
 4   responseCategory  582 non-null    object
dtypes: int64(3), object(2)
memory usage: 22.9+ KB

In [ ]:
data.describe()

          SITEID      SUBJID       TRTPN
count  582.00000  582.000000  582.000000
mean    59.42268  402.443299    1.498282
std     42.34690  231.560424    0.500427
min      1.00000    1.000000    1.000000
25%     23.00000  197.250000    1.000000
50%     52.00000  408.000000    1.000000
75%     99.00000  599.750000    2.000000
max    141.00000  797.000000    2.000000

In [ ]:
data.shape

(582, 5)

# Preparation

In [ ]:
data.drop(columns=['SITEID', 'SUBJID'], inplace=True)
data.columns = ['gender',	'treatment',	'was_response']
data['gender'] = (data['gender'] == 'MALE').astype(int)
data.treatment.replace({1: 0, 2: 1}, inplace=True)
data.was_response.replace({'CR': 1, 'PR': 1, 'SD': 0, 'PD': 0, 'NE': 0}, inplace=True)
data['intercept'] = 1

In [ ]:
data.head()

   gender  treatment  was_response  intercept
0       1          1             0          1
1       0          0             0          1
2       1          1             0          1
3       1          0             0          1
4       0          0             0          1

In [ ]:
data.shape

(582, 4)

# Statistical findings

*   H0 : Response is independent on a treatment.
*   H1 : Response is dependent on a treatment.

In [ ]:
no_resp_treat1 = data.loc[data['treatment'] == 0].was_response.value_counts()[0]
resp_treat1 = data.loc[data['treatment'] == 0].was_response.value_counts()[1]
no_resp_treat2 = data.loc[data['treatment'] == 1].was_response.value_counts()[0]
resp_treat2 = data.loc[data['treatment'] == 1].was_response.value_counts()[1]
total_treat1 = no_resp_treat1 + resp_treat1
total_treat2 = no_resp_treat2 + resp_treat2

In [ ]:
print(f'95% confidence interval for a difference between proportions \
({proportions_diff_confint_ind(resp_treat1, resp_treat2, total_treat1, total_treat2, alpha = 0.05)[0]:.4f}:\
{proportions_diff_confint_ind(resp_treat1, resp_treat2, total_treat1, total_treat2, alpha = 0.05)[1]:.4f})')

95% confidence interval for a difference between proportions (0.0087:0.1266)

In [ ]:
print(resp_treat1, resp_treat2, total_treat1, total_treat2)

56 36 292 290

In [ ]:
print(f"p-value: {proportions_diff_z_test(proportions_diff_z_stat_ind(resp_treat1, resp_treat2, total_treat1, total_treat2)):.2f}")

p-value: 0.03

# Result: reject the null hypothesis, p-value < 0.05.

# Creation of logistic regression model with one variable

Create a model of logistic regression by statsmodels library.

In [ ]:
z = scipy.stats.norm.ppf(1 - 0.05 / 2.)

In [ ]:
X_1 = data.drop(columns=['was_response', 'gender'])
y_1 = data.was_response

In [ ]:
logit_model_1 = sm.Logit(y_1, X_1)
result_1 = logit_model_1.fit()
print(result_1.summary())

Optimization terminated successfully.
         Current function value: 0.432137
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:           was_response   No. Observations:                  582
Model:                          Logit   Df Residuals:                      580
Method:                           MLE   Df Model:                            1
Date:                Thu, 30 Dec 2021   Pseudo R-squ.:                0.009915
Time:                        01:40:09   Log-Likelihood:                -251.50
converged:                       True   LL-Null:                       -254.02
Covariance Type:            nonrobust   LLR p-value:                   0.02481
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
treatment     -0.5153      0.232     -2.222      0.026      -0.970      -0.061
intercept     -1.4385      0.149     -9.677      0.000      -1.730      -1.147
==============================================================================

In [ ]:
result_1.params.values

array([-0.51533521, -1.43848011])

In [ ]:
a1 = result_1.params.values[0]
a0 = result_1.params.values[1]

In [ ]:
def func1(sex):
  func1 = a0 + a1*sex
  return func1

In [ ]:
OR_t1vst2 = np.exp(func1(sex=0))/np.exp(func1(sex=1))
left_OR_t1vst2 = np.exp((func1(sex=0))-(func1(sex=1)) - z*0.232)
right_OR_t1vst2 = np.exp((func1(sex=0))-(func1(sex=1)) + z*0.232)

In [ ]:
print(f'An odds ratio of treatment 1 over treatment 2 is {OR_t1vst2:.2f} with CI ({left_OR_t1vst2:.2f}, {right_OR_t1vst2:.2f})')

An odds ratio of treatment 1 over treatment 2 is 1.67 with CI (1.06, 2.64)

Count odds ratio using Table2x2

In [ ]:
table = sm.stats.Table2x2(np.array([[resp_treat1, no_resp_treat1], [resp_treat2, no_resp_treat2]]))

In [ ]:
print(table.summary(method='normal'))

               Estimate   SE   LCB   UCB  p-value
-------------------------------------------------
Odds ratio        1.674       1.063 2.638   0.026
Log odds ratio    0.515 0.232 0.061 0.970   0.026
Risk ratio        1.545       1.050 2.272   0.027
Log risk ratio    0.435 0.197 0.049 0.821   0.027
-------------------------------------------------

In [ ]:
a = table.summary(method='normal')

In [ ]:
print(f'An odds ratio of treatment 1 over treatment 2 is {np.exp(0.515):.2f} \
with CI ({np.exp(0.515 - z*0.232):.2f}, {np.exp(0.515 + z*0.232):.2f})')

An odds ratio of treatment 1 over treatment 2 is 1.67 with CI (1.06, 2.64)

# Creation of logistic regression model with three variable
# Preparation

In [ ]:
data['interaction'] = data['gender']*data['treatment']

In [ ]:
data.head()

   gender  treatment  was_response  intercept  interaction
0       1          1             0          1            1
1       0          0             0          1            0
2       1          1             0          1            1
3       1          0             0          1            0
4       0          0             0          1            0

Create a model of logistic regression by statsmodels library.

In [ ]:
X_2 = data.drop(columns=['was_response'])
y_2 = data.was_response

In [ ]:
logit_model_2 = sm.Logit(y_2, X_2)
result_2 = logit_model_2.fit()
print(result_2.summary())

Optimization terminated successfully.
         Current function value: 0.431351
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:           was_response   No. Observations:                  582
Model:                          Logit   Df Residuals:                      578
Method:                           MLE   Df Model:                            3
Date:                Thu, 30 Dec 2021   Pseudo R-squ.:                 0.01172
Time:                        01:48:03   Log-Likelihood:                -251.05
converged:                       True   LL-Null:                       -254.02
Covariance Type:            nonrobust   LLR p-value:                    0.1139
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
gender          0.2707      0.300      0.903      0.366      -0.317       0.858
treatment      -0.3067      0.349     -0.878      0.380      -0.992       0.378
intercept      -1.5841      0.224     -7.069      0.000      -2.023      -1.145
interaction    -0.3814      0.468     -0.816      0.415      -1.298       0.535
===============================================================================

In [ ]:
result_2.params.values

array([ 0.27073251, -0.30673027, -1.5841201 , -0.38136214])

In [ ]:
b0 = result_2.params.values[2]
b1 = result_2.params.values[0]
b2 = result_2.params.values[1]
b3 = result_2.params.values[3]

In [ ]:
def func2(sex, treatment):
  func = b0 + b1*sex + b2*treatment + b3*sex*treatment
  return func

In [ ]:
OR_t1vst2_m = np.exp(func2(sex=1, treatment=0))/np.exp(func2(sex=1, treatment=1))
left_OR_t1vst2_m = np.exp((func2(sex=1, treatment=0))-(func2(sex=1, treatment=1)) - z*0.349)
right_OR_t1vst2_m = np.exp((func2(sex=1, treatment=0))-(func2(sex=1, treatment=1)) + z*0.349)

In [ ]:
print(f'Odds ratio of treatment 1 over treatment 2 | Male is {OR_t1vst2_m:.2f} with CI ({left_OR_t1vst2_m:.2f}, {right_OR_t1vst2_m:.2f})')

Odds ratio of treatment 1 over treatment 2 | Male is 1.99 with CI (1.00, 3.94)

In [ ]:
OR_t1vst2_f = np.exp(func2(sex=0, treatment=0))/np.exp(func2(sex=0, treatment=1))
left_OR_t1vst2_f = np.exp((func2(sex=0, treatment=0))-(func2(sex=0, treatment=1)) - z*0.349)
right_OR_t1vst2_f = np.exp((func2(sex=0, treatment=0))-(func2(sex=0, treatment=1)) + z*0.349)

In [ ]:
print(f'Odds ratio of treatment 1 over treatment 2 | Female is {OR_t1vst2_f:.2f} with CI ({left_OR_t1vst2_f:.2f}, {right_OR_t1vst2_f:.2f})')

Odds ratio of treatment 1 over treatment 2 | Female is 1.36 with CI (0.69, 2.69)

In [ ]:
OR_FvsM_t1 = np.exp(func2(0, 0))/np.exp(func2(1, 0))
left_OR_FvsM_t1 = np.exp((func2(0, 0))-(func2(1, 0)) - z*0.300)
right_OR_FvsM_t1 = np.exp((func2(0, 0))-(func2(1, 0)) + z*0.300)

In [ ]:
print(f'Odds ratio of Female over Male | treatment 1 is {OR_FvsM_t1:.2f} with CI ({left_OR_FvsM_t1:.2f}, {right_OR_FvsM_t1:.2f})')

Odds ratio of Female over Male | treatment 1 is 0.76 with CI (0.42, 1.37)

In [ ]:
OR_FvsM_t2 = np.exp(func2(0, 1))/np.exp(func2(1, 1))
left_OR_FvsM_t2 = np.exp((func2(0, 1))-(func2(1, 1)) - z*0.300)
right_OR_FvsM_t2 = np.exp((func2(0, 1))-(func2(1, 1)) + z*0.300)

In [ ]:
print(f'Odds ratio of Female over Male | treatment 2 is {OR_FvsM_t2:.2f} with CI ({left_OR_FvsM_t2:.2f}, {right_OR_FvsM_t2:.2f})')

Odds ratio of Female over Male | treatment 2 is 1.12 with CI (0.62, 2.01)

# Result from regresion model


*   Odds ratio of treatment 1 over treatment 2 | Male is 1.99 with CI (1.00, 3.94)

*   Odds ratio of treatment 1 over treatment 2 | Female is 1.36 with CI (0.69, 2.69)

*   Odds ratio of Female over Male | treatment 1 is 0.76 with CI (0.42, 1.37)

*   Odds ratio of Female over Male | treatment 2 is 1.12 with CI (0.62, 2.01)

Count odds ratio using Table2x2

In [ ]:
data_gender1 = data.loc[data['gender'] == 1] # male

In [ ]:
no_resp_m_treat1 = data_gender1.loc[data['treatment'] == 0].was_response.value_counts()[0]
no_resp_m_treat2 = data_gender1.loc[data['treatment'] == 1].was_response.value_counts()[0]
resp_m_treat1 = data_gender1.loc[data['treatment'] == 0].was_response.value_counts()[1]
resp_m_treat2 = data_gender1.loc[data['treatment'] == 1].was_response.value_counts()[1]

In [ ]:
print(no_resp_m_treat1, no_resp_m_treat2, resp_m_treat1, resp_m_treat2)

119 148 32 20

In [ ]:
table2 = sm.stats.Table2x2(np.array([[resp_m_treat1, no_resp_m_treat1], [resp_m_treat2, no_resp_m_treat2]]))

In [ ]:
print(table2.summary(method='normal'))

               Estimate   SE   LCB   UCB  p-value
-------------------------------------------------
Odds ratio        1.990       1.083 3.657   0.027
Log odds ratio    0.688 0.310 0.080 1.297   0.027
Risk ratio        1.780       1.065 2.975   0.028
Log risk ratio    0.577 0.262 0.063 1.090   0.028
-------------------------------------------------

In [ ]:
print(f'Odds ratio of treatment 1 vs treatment 2 | Male is {np.exp(0.688):.2f} with ({np.exp(0.688 - z*0.310):.2f}, {np.exp(0.688 + z*0.310):.2f})')

Odds ratio of treatment 1 vs treatment 2 | Male is 1.99 with (1.08, 3.65)

In [ ]:
data_gender0 = data.loc[data['gender'] == 0] # female

In [ ]:
no_resp_f_treat1 = data_gender0.loc[data['treatment'] == 0].was_response.value_counts()[0]
no_resp_f_treat2 = data_gender0.loc[data['treatment'] == 1].was_response.value_counts()[0]
resp_f_treat1 = data_gender0.loc[data['treatment'] == 0].was_response.value_counts()[1]
resp_f_treat2 = data_gender0.loc[data['treatment'] == 1].was_response.value_counts()[1]

In [ ]:
print(no_resp_f_treat1, no_resp_f_treat2, resp_f_treat1, resp_f_treat2)

117 106 24 16

In [ ]:
table3 = sm.stats.Table2x2(np.array([[resp_f_treat1, no_resp_f_treat1], [resp_f_treat2, no_resp_f_treat2]]))

In [ ]:
print(table3.summary(method='normal'))

               Estimate   SE   LCB    UCB  p-value
--------------------------------------------------
Odds ratio        1.359        0.685 2.696   0.380
Log odds ratio    0.307 0.349 -0.378 0.992   0.380
Risk ratio        1.298        0.724 2.328   0.382
Log risk ratio    0.261 0.298 -0.324 0.845   0.382
--------------------------------------------------

In [ ]:
print(f'Odds ratio of treatment 1 vs treatment 2 | Female {np.exp(0.307):.2f} with ({np.exp(0.307 - z*0.349):.2f}, {np.exp(0.307 + z*0.349):.2f})')

Odds ratio of treatment 1 vs treatment 2 | Female 1.36 with (0.69, 2.69)

In [ ]:
data_treat1 = data.loc[data['treatment'] == 0]

In [ ]:
no_resp_treat1_f = data_treat1.loc[data['gender'] == 0].was_response.value_counts()[0]
no_resp_treat1_m = data_treat1.loc[data['gender'] == 1].was_response.value_counts()[0]
resp_treat1_f = data_treat1.loc[data['gender'] == 0].was_response.value_counts()[1]
resp_treat1_m = data_treat1.loc[data['gender'] == 1].was_response.value_counts()[1]

In [ ]:
print(no_resp_treat1_f, no_resp_treat1_m, resp_treat1_f, resp_treat1_m)

117 119 24 32

In [ ]:
table4 = sm.stats.Table2x2(np.array([[resp_treat1_f, no_resp_treat1_f], [resp_treat1_m, no_resp_treat1_m]]))

In [ ]:
print(table4.summary(method='normal'))

               Estimate   SE   LCB    UCB  p-value
--------------------------------------------------
Odds ratio        0.763        0.424 1.373   0.366
Log odds ratio   -0.271 0.300 -0.858 0.317   0.366
Risk ratio        0.803        0.499 1.294   0.368
Log risk ratio   -0.219 0.243 -0.696 0.258   0.368
--------------------------------------------------

In [ ]:
print(f'Odds ratio of Female vs Male | treatment 1 is {np.exp(-0.271):.2f} with ({np.exp(-0.271 - z*0.300):.2f}, {np.exp(-0.271 + z*0.300):.2f})')

Odds ratio of Female vs Male | treatment 1 is 0.76 with (0.42, 1.37)

In [ ]:
data_treat2 = data.loc[data['treatment'] == 1]

In [ ]:
no_resp_treat2_f = data_treat2.loc[data['gender'] == 0].was_response.value_counts()[0]
no_resp_treat2_m = data_treat2.loc[data['gender'] == 1].was_response.value_counts()[0]
resp_treat2_f = data_treat2.loc[data['gender'] == 0].was_response.value_counts()[1]
resp_treat2_m = data_treat2.loc[data['gender'] == 1].was_response.value_counts()[1]

In [ ]:
print(no_resp_treat2_f, no_resp_treat2_m, resp_treat2_f, resp_treat2_m)

106 148 16 20

In [ ]:
table5 = sm.stats.Table2x2(np.array([[resp_treat2_f, no_resp_treat2_f], [resp_treat2_m, no_resp_treat2_m]]))

In [ ]:
print(table5.summary(method='normal'))

               Estimate   SE   LCB    UCB  p-value
--------------------------------------------------
Odds ratio        1.117        0.553 2.256   0.758
Log odds ratio    0.111 0.359 -0.592 0.814   0.758
Risk ratio        1.102        0.596 2.037   0.758
Log risk ratio    0.097 0.314 -0.518 0.711   0.758
--------------------------------------------------

In [ ]:
print(f'Odds ratio of Female vs Male | treatment 2 is {np.exp(0.111):.2f} with ({np.exp(0.111 - z*0.359):.2f}, {np.exp(0.111 + z*0.359):.2f})')

Odds ratio of Female vs Male | treatment 2 is 1.12 with (0.55, 2.26)

# Result from stast table2x2


*   Odds ratio of treatment 1 vs treatment 2 | Male is 1.99 with (1.08, 3.65)
*   Odds ratio of treatment 1 vs treatment 2 | Female is 1.36 with (0.69, 2.69)
*   Odds ratio of Female vs Male | treatment 1 is 0.76 with (0.42, 1.37)
*   Odds ratio of Female vs Male | treatment 2 is 1.12 with (0.55, 2.26)

# Logistic Regression model (sklearn)

Try to predict efficiency of therapy.

In [ ]:
X_3 = data.drop(columns=['was_response'])
y_3 = data.was_response

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_3, y_3, test_size=0.2, random_state=1, shuffle=True, stratify=y_3)

In [ ]:
model2 = LogisticRegression(penalty='l2', fit_intercept=False)
model2.fit(X_3, y_3)

LogisticRegression(fit_intercept=False)

In [ ]:
prediction2 = model2.predict(X_test)

In [ ]:
print(classification_report(y_test, prediction2))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92        99
           1       0.00      0.00      0.00        18

    accuracy                           0.85       117
   macro avg       0.42      0.50      0.46       117
weighted avg       0.72      0.85      0.78       117

In [ ]:
X_3.columns

Index(['gender', 'treatment', 'intercept', 'interaction'], dtype='object')

In [ ]:
model2.coef_

array([[ 0.17522894, -0.37704497, -1.50665951, -0.27735434]])

In [ ]:
X_2.columns

Index(['gender', 'treatment', 'intercept', 'interaction'], dtype='object')

In [ ]:
result_2.params.values

array([ 0.27073251, -0.30673027, -1.5841201 , -0.38136214])

# The result of working with data.

Data problem: data is binary, few features, unbalanced results.

It is better to use the Wilson interval for unbalanced data.

The resulting logistic regression model fails to predict a positive response to therapy. Therefore, the prediction of odds ratio using the coefficients from this model may not be entirely correct.

Based on the confidence intervals of the difference in proportions, it can be concluded that the effectiveness of treatment 1 and treatment 2 is statistically significantly different.

I think we should collect additional data to adjust the odds ratio calculations for different therapies for subgroups of patients.